<section class="container">
  <div class="div__list-content">
    <div class="header-area">

      <h1 class="title">Material didático</h1>
      <p class="subtitle">Acesse suas últimas apresentações de aula.</p>

  </div>

    <ul class="list-content">
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
      <app-content-card></app-content-card>
    </ul>
  </div>
</section>
