.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.div__list-content{
  width: 95%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;

  background: #FFFFFF;
  border-radius: 8px;
}
.header-area{
  width: 95%;
}

.title{
  font-weight: 700;
  font-size: 24px;
  color: #354564;
  margin-bottom: 8px;
}

.subtitle{
  font-weight: 400;
  font-size: 16px;
  color: #7183A6;
}

.list-content{
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 28px;
}
