<section class="login-page-container">
  <header>
    <img src="../../../assets/images/logo-trakto.png" alt="logotipo Trakto">
    <h1>Olá, faça login em sua conta.</h1>
  </header>
  <form>
    <div class="input-container">
      <input required id="email" type="text" placeholder="fulano@email.com">
      <label for="email">E-mail</label>
    </div>
    <div class="input-container">
      <input required id="senha" type="password" name="senha" id="senha" placeholder="••••••••••">
      <label for="senha">Senha</label>
    </div>
      <button>Entrar</button>
  </form>
</section>
