<header class="header">
  <div class="logo">
    <img routerLink="/home" src="../../../assets/images/logo-trakto-edu.png" alt="logotipo trakto educação">
  </div>
  <div class="navbar">
    <div class="date">
      <img src="../../../assets/images/icon-calendar.png" alt="ímagem de um calendrio">
      <p>{{ currentDate | date:'dd/MM/yyyy'}}</p>
    </div>
    <div class="divider"></div>
    <div class="notification">
      <button>
        <mat-icon class="mat-18">notifications_none</mat-icon>
      </button>
    </div>
    <div class="divider"></div>
    <div class="user">
        <img src="../../../assets/images/Avataravatar.png" alt="foto do usuário">
        <button>
          <img src="../../../assets/images/icon-dropdow.png" alt="">
        </button>
    </div>
  </div>

</header>
