<header class="header">
  <div class="logo">
    <img routerLink="/home" src="../../../assets/images/logo-trakto-edu.png" alt="logotipo trakto educação">
  </div>
  <div class="navbar">
    <div class="date">
      <mat-icon class="material-symbols-outlined calendar">calendar_month</mat-icon>
      <p>{{ currentDate | date:'dd/MM/yyyy'}}</p>
    </div>
    <div class="divider"></div>
    <div class="notification">
      <button>
        <img src="../../../assets/images/icon-notification.png" alt="imagem de um sino para notificações">
      </button>
    </div>
    <div class="divider"></div>
    <div class="user" *ngIf="initialName !== '', else login">
      <div class="avatar" >
        <p>{{ initialName }}</p>
      </div>
        <button (click)="logout()">
          <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
        </button>
    </div>
    <ng-template #login>
      <a routerLink="/login" class="btn-login">Login</a>
    </ng-template>
  </div>

</header>
