<section class="homepage-component">
  <div class="menu-container">
    <div class="item-menu">
      <a class="title-icon">Material didático</a>
      <span class="tag-color color1"></span>
      <div class="item">
        <img class="icon-menu" src="../../../assets/images/img-material.png" alt="imagem de livros empilhados">
      </div>
    </div>
    <div class="item-menu">
      <a class="title-icon">Quiz</a>
      <span class="tag-color color2"></span>
      <div class="item">
        <img class="icon-menu" src="../../../assets/images/img-quiz.png" alt="imagem de uma medalha com o numero um">
      </div>
    </div>
    <div class="item-menu">
      <a class="title-icon">Desenho</a>
      <span class="tag-color color3"></span>
      <div class="item">
        <img class="icon-menu" src="../../../assets/images/img-desenho.png" alt="imagem de um pincel junto à uma paleta de pintura">
      </div>
    </div>
    <div class="item-menu">
      <a href="https://www.youtube.com/@Trakto"class="title-icon">Youtube</a>
      <span class="tag-color color4"></span>
      <div class="item">
          <a href="https://www.youtube.com/@Trakto">
            <img class="icon-menu" src="../../../assets/images/img-youtube.png" alt="imagem do Youtube">
          </a>
        </div>
    </div>
  </div>
</section>

